.container {}
.numberField {
  display: block;

  input {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 4rem;
  }
}

.actionButton {
  margin: 16px;
}

.simulationCanvas {
  display: block;
  border: 2px solid #222;
  margin: 16px;
}